node_modules
.git
.github
.vscode

.DS_Store
dist
dist-ssr
*.local

apps/web/assets-git
apps/web/public/thumbnails
apps/web/src/data/photos-manifest.json
.vercel

public/**
apps/ssr/src/index.html
apps/ssr/src/index.html.ts
