photos/*.HEIC filter=lfs diff=lfs merge=lfs -text
photos/*.MOV filter=lfs diff=lfs merge=lfs -text
photos/*.jpg filter=lfs diff=lfs merge=lfs -text
photos/**/*.{jpg,jpeg,png,gif,webp,svg,mp4,mov,avi,mkv,mp3,wav,flac} filter=lfs diff=lfs merge=lfs -text
