@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';
@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-safe-area';
@import 'tailwindcss-uikit-colors/v4/macos.css';
@plugin '@egoist/tailwindcss-icons';
